<div class="contents public-users-registrations-new sp">
  <h2>入力情報の確認</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/users/shared/error_messages", resource: resource %>
  <table>
    <tbody>
      <tr>
        <td colspan="2"><h3>お名前</h3><p>予約時の情報として使用されます。</p></td>
      </tr>
      <tr>
        <td><%= f.label :name_family, '姓：' %><%= params[:name_family] %></td>
        <td><%= f.label :name_first, '名：' %><%= params[:name_first] %></td>
      </tr>
      <tr>
        <td><%= f.label :name_family_kana, 'セイ：' %><%= params[:name_family_kana] %></td>
        <td><%= f.label :name_first_kana, 'メイ：' %><%= params[:name_first_kana] %></td>
      </tr>
      <tr>
        <td colspan="2"><h3><%= f.label :phone_number, '電話番号' %></h3></td>
      </tr>
      <tr>
        <td><%= params[:phone_number] %></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2"><h3><%= f.label :email, 'メールアドレス' %></h3><p>ログイン時のIDとして使用されます。また、予約の確認や、メールマガジンの配信も行われます。</p></td>
      </tr>
      <tr>
        <td><%= params[:email] %></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">
          <h3><%= f.label :password, 'パスワード' %></h3>
        </td>
      </tr>
      <tr>
        <td>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </td>
        <% unless params[:password].nil? %>
          <%
            i = 0
            password = ""
            while i < params[:password].length
              password << "*"
              i += 1
            end
          %>
        <% end %>
        <td><%= password %></td>
      </tr>
    </tbody>
  </table>

  <%= f.hidden_field :name_family, value: params[:name_family] %>
  <%= f.hidden_field :name_first, value: params[:name_first] %>
  <%= f.hidden_field :name_family_kana, value: params[:name_family_kana] %>
  <%= f.hidden_field :name_first_kana, value: params[:name_first_kana] %>
  <%= f.hidden_field :phone_number, value: params[:phone_number] %>
  <%= f.hidden_field :email, value: params[:email] %>
  <%= f.hidden_field :password, value: params[:password] %>
  
  <div class="actions">
    <%= f.submit "登録する", class: 'btn registration-btn' %>
  </div>
  <% end %>

  <%= render "public/users/shared/links" %>

</div>
