<div class="contents contacts-confirm">
  <h2>以下の内容で送信します。</h2>

  <h3>ご連絡先</h3>
  <p><%= params[:email] %></p>

  <h3>お問い合わせ内容</h3>
  <p><%= params[:message] %></p>

  <%= form_with model: @contact, url: contact_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :email, value: params[:email] %>
    <%= f.hidden_field :message, value: params[:message] %>
    <%= f.submit '送信', class: "btn btn-primary" %>
  <% end %>
</div>
