<div class="public-users-_user_links">
  <ul>
    <li><%= link_to 'プロフィールを確認', user_profile_path(current_user) %></li>
    <li><%= link_to '登録情報確認', user_info_path(current_user) %></li>
    <li><%= link_to 'パスワードの変更はこちら', edit_user_registration_path(current_user) %></li>
    <% if controller_path == 'public/users' %>
      <li><%= link_to '現在の予約状況', user_reservations_path(current_user) %></li>
      <li><%= link_to '予約履歴', user_reservations_path(current_user) %></li>
    <% end %>
    <% if false %>
      <li><%= link_to 'ブックマーク', user_bookmarks_path(current_user) %></li>
      <li><%= link_to 'レビュー一覧' %></li>
    <% end %>
  </ul>
</div>
